<section class="masters">
  <div class="container masters-container">
    <h2 class="masters-title">Meet Our Crew</h2>
    <div class="carousel-container">
      <div class="carousel-track">
        <div class="card">
          <div
            class="image-box"
            style="background-image: url('img/masters/image-1.png')"
          >
            <span class="name">Leonel Gomez</span>
          </div>
          <div class="socials">
            <a class="fab fa-instagram">
              <svg class="social-media" width="24" height="24">
                <use href="img/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
            <a class="fab fa-facebook-f">
              <svg class="social-media" width="24" height="24">
                <use href="img/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
            <a class="fab fa-twitter">
              <svg class="social-media" width="24" height="24">
                <use href="img/symbol-defs.svg#icon-twitter"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="card">
          <div
            class="image-box"
            style="background-image: url('img/masters/image-2.png')"
          >
            <span class="name">Pedro Ramos</span>
          </div>
          <div class="socials">
            <a class="fab fa-instagram">
              <svg class="social-media" width="24" height="24">
                <use href="img/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
            <a class="fab fa-facebook-f">
              <svg class="social-media" width="24" height="24">
                <use href="img/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
            <a class="fab fa-twitter">
              <svg class="social-media" width="24" height="24">
                <use href="img/symbol-defs.svg#icon-twitter"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="card">
          <div
            class="image-box"
            style="background-image: url('img/masters/image-3.png')"
          >
            <span class="name">Gabriel Barbosa</span>
          </div>
          <div class="socials">
            <a class="fab fa-instagram">
              <svg class="social-media" width="24" height="24">
                <use href="img/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
            <a class="fab fa-facebook-f">
              <svg class="social-media" width="24" height="24">
                <use href="img/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
            <a class="fab fa-twitter">
              <svg class="social-media" width="24" height="24">
                <use href="img/symbol-defs.svg#icon-twitter"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="card">
          <div
            class="image-box"
            style="background-image: url('img/masters/image-4.png')"
          >
            <span class="name">Tihon Sinclair</span>
          </div>
          <div class="socials">
            <a class="fab fa-instagram">
              <svg class="social-media" width="24" height="24">
                <use href="img/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
            <a class="fab fa-facebook-f">
              <svg class="social-media" width="24" height="24">
                <use href="img/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
            <a class="fab fa-twitter">
              <svg class="social-media" width="24" height="24">
                <use href="img/symbol-defs.svg#icon-twitter"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="nav-controls">
        <button class="prev-btn">
          <svg
            width="13"
            height="22"
            viewBox="0 0 13 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.4142 20.7071L1.41418 10.7071L11.4142 0.707108"
              stroke="#FFF5F5"
              stroke-width="2"
            />
          </svg>
        </button>
        <div class="dots">
          <span class="dot active"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
        <button class="next-btn">
          <svg
            width="13"
            height="22"
            viewBox="0 0 13 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.707153 0.707108L10.7072 10.7071L0.707153 20.7071"
              stroke="#FFF5F5"
              stroke-width="2"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
