<section class="services">
  <div class="container services-container">
    <div class="services-container-text">
      <h2 class="services-container-text-title">Our Services</h2>
      <p class="services-container-text-subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. We offer
        tailored solutions with a focus on quality and care. Whether it’s
        styling, coloring, or grooming — we blend skill with creativity. Rhoncus
        id feugiat a sed varius. Morbi eleifend ut vestibulum enim — elegance in
        every detail.
      </p>
    </div>
    <ul class="services-list">
      <li class="services-list-item">
        <img
          src="img/services/image-1.png"
          alt=""
          class="services-list-item-img"
        />
        <div class="services-list-item-other">
          <p class="services-list-item-other-name">Beard Trim</p>
          <button class="services-list-item-other-btn">55$</button>
        </div>
      </li>
      <li class="services-list-item">
        <img
          src="img/services/image-2.png"
          alt=""
          class="services-list-item-img"
        />
        <div class="services-list-item-other">
          <p class="services-list-item-other-name">Haircut</p>
          <button class="services-list-item-other-btn">70$</button>
        </div>
      </li>
      <li class="services-list-item">
        <img
          src="img/services/image-3.png"
          alt=""
          class="services-list-item-img"
        />
        <div class="services-list-item-other">
          <p class="services-list-item-other-name">Haircut + beard trim</p>
          <button class="services-list-item-other-btn">120$</button>
        </div>
      </li>
      <li class="services-list-item">
        <img
          src="img/services/image-4.png"
          alt=""
          class="services-list-item-img"
        />
        <div class="services-list-item-other">
          <p class="services-list-item-other-name">Massage</p>
          <button class="services-list-item-other-btn">90$</button>
        </div>
      </li>
    </ul>
  </div>
</section>
