.about-section {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  padding: 72px 0;
}

.images {
  display: grid;
  grid-template-columns: 264px 350px;
  grid-template-rows: 292px 292px;
  gap: 16px;
  width: 630px;
  height: 600px;
  flex-shrink: 0;
}

.images-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border: 1px solid #fff;
  border-radius: 5px;
}
.images-item.tall {
  grid-row: 1 / 3;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.about-title {
  font-weight: 600;
  font-size: 36px;
  color: #fff5f5;
}

.about-description {
  font-weight: 400;
  font-size: 24px;
  color: #fff5f5;
  line-height: 1.5;
}

.about-text-cont {
  display: flex;
  flex-direction: column; /* Елементи йдуть один під одним */
  align-items: flex-end; /* Вирівнює вміст по правому краю */
  gap: 24px; /* Відступ між текстом і кнопкою */
}
.about-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff5f5;
  transition: 0.2s ease;
  display: inline-block;
}

.about-link:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1200px) {
  .about-section {
    flex-direction: column;
  }

  .images {
    width: 100%;
    height: auto;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
