:root {
  --font-family: 'Poppins', sans-serif;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  color: #fff5f5;
  background-color: #24282a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
