/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 343px;
  margin: 0 auto;
  padding: 0 72px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 786px) {
  .container {
    max-width: 786px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1256px) {
  .container {
    max-width: 1256px;
  }
}
