header {
  backdrop-filter: blur(5px);
  background: rgba(43, 44, 38, 0.68);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-nav {
  display: flex;
  margin: 13px 0;
  justify-content: space-between;
  align-items: center;
}
.header-nav-link-img {
  width: 60px;
  height: 60px;
}
.header-nav-list-item-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #fbfbfb;
  transition: 0.2s ease-in;
}
.header-nav-list-item-link:hover,
.header-nav-list-item-link:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 786px) {
  .header-nav-link-img {
    width: 70px;
    height: 70px;
  }
  .header-nav-list {
    display: flex;
    gap: 24px;
  }
}
@media only screen and (min-width: 1256px) {
  .header-nav-link-img {
    width: 70px;
    height: 70px;
  }
}
