.hero {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(/img/hero.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  color: #e9e9e9;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
  margin-bottom: 32px;
}

.hero-subtitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #e9e9e9;
  margin-bottom: 32px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}

.hero-btn {
  border-radius: 10px;
  border: none;
  padding: 10px 91px;
  width: 299px;
  height: 44px;
  background: #d9d9d9;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #2d2d2d;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease;
  border: 2px solid #d9d9d9;
}
.hero-btn:hover {
  border: 2px solid #fff;
  background: none;
  color: #fffefe;
}
